<mat-nav-list>
    <a mat-list-item [routerLink]="['/home']">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>
    @for (item of linkItems; track $index) {
    <a mat-list-item  [routerLink]="item.routerLink"
    routerLinkActive
    #linkItem="routerLinkActive"
    [activated]="linkItem.isActive">
      <mat-icon>list</mat-icon>
      <span>Alumnos</span>
      {{ item.label }}
    </a>
    }
    <a mat-list-item>
      <mat-icon>info</mat-icon>
      <span>About</span>
    </a>
  </mat-nav-list>